<form class="search-form search-form" (ngSubmit)="onSubmit()">
  <div class="col d-flex">
    <div class="form-group w-100 pr-3">
      <input type="text" placeholder="Nhập tìm kiếm" class="form-control"  [(ngModel)]="keyword"  [ngModelOptions]="{standalone: true}"/>
    </div>
    <div class="col-auto pr-0">
      <button class="btn btn-primary">Tìm kiếm</button>
    </div>
  </div>
</form>
