<!--

<div class="wapper">
  <header class="d-flex align-items-center justify-content-between" id="header">
    <div class="logo" style="width: 13%;    background: bisque;">
      <button (click)="sidepanel.toggleState()">bar</button>
      Logo
    </div>
    <div class="search" style="width: 40%;">
      <div class="input-group w-100">
        <input type="text" class="form-control" placeholder="Recipient's username" aria-label="Recipient's username"
          aria-describedby="basic-addon2">
        <div class="input-group-append">
          <button class="btn btn-outline-secondary" type="button">Search</button>
        </div>
      </div>
    </div>
    <div class="user">
      <ul class="list-unstyled d-flex">
        <li>phát trực tiếp</li>
        <li>app</li>
        <li>notification</li>
        <li>user</li>
      </ul>
    </div>
  </header>

  <div id="main" class="d-flex w-100">
    <app-side-bar></app-side-bar>

    <article class="w-100">
      <div class="chips-wrapper d-flex justify-content-center">
        <button>Tất cả</button>
        <button>Danh sách</button>
        <button>Top</button>
      </div>
      <div id="body-content">
        <div id="contents">
          <div class="list-item">
            <div class="card mb-3 box-shadow">
              <img class="card-img-top"
                style="height: 225px; width: 100%; display: block;"
               >
              <div class="card-body">
                <p class="card-text">This is a wider card with supporting text below as a natural lead-in to additional
                  content. This content is a little bit longer.</p>
                <div class="d-flex justify-content-between align-items-center">
                  <div class="btn-group">
                    <button type="button" class="btn btn-sm btn-outline-secondary">View</button>
                    <button type="button" class="btn btn-sm btn-outline-secondary">Edit</button>
                  </div>
                  <small class="text-muted">9 mins</small>
                </div>
              </div>
            </div>
          </div>
          <div class="list-item">
            <div class="card mb-3 box-shadow">
              <img class="card-img-top"
                style="height: 225px; width: 100%; display: block;"
               >
              <div class="card-body">
                <p class="card-text">This is a wider card with supporting text below as a natural lead-in to additional
                  content. This content is a little bit longer.</p>
                <div class="d-flex justify-content-between align-items-center">
                  <div class="btn-group">
                    <button type="button" class="btn btn-sm btn-outline-secondary">View</button>
                    <button type="button" class="btn btn-sm btn-outline-secondary">Edit</button>
                  </div>
                  <small class="text-muted">9 mins</small>
                </div>
              </div>
            </div>
          </div>
          <div class="list-item">
            <div class="card mb-3 box-shadow">
              <img class="card-img-top"
                style="height: 225px; width: 100%; display: block;"
               >
              <div class="card-body">
                <p class="card-text">This is a wider card with supporting text below as a natural lead-in to additional
                  content. This content is a little bit longer.</p>
                <div class="d-flex justify-content-between align-items-center">
                  <div class="btn-group">
                    <button type="button" class="btn btn-sm btn-outline-secondary">View</button>
                    <button type="button" class="btn btn-sm btn-outline-secondary">Edit</button>
                  </div>
                  <small class="text-muted">9 mins</small>
                </div>
              </div>
            </div>
          </div>
          <div class="list-item">
            <div class="card mb-3 box-shadow">
              <img class="card-img-top"
                style="height: 225px; width: 100%; display: block;"
               >
              <div class="card-body">
                <p class="card-text">This is a wider card with supporting text below as a natural lead-in to additional
                  content. This content is a little bit longer.</p>
                <div class="d-flex justify-content-between align-items-center">
                  <div class="btn-group">
                    <button type="button" class="btn btn-sm btn-outline-secondary">View</button>
                    <button type="button" class="btn btn-sm btn-outline-secondary">Edit</button>
                  </div>
                  <small class="text-muted">9 mins</small>
                </div>
              </div>
            </div>
          </div>
          <div class="list-item">
            <div class="card mb-3 box-shadow">
              <img class="card-img-top"
                style="height: 225px; width: 100%; display: block;"
               >
              <div class="card-body">
                <p class="card-text">This is a wider card with supporting text below as a natural lead-in to additional
                  content. This content is a little bit longer.</p>
                <div class="d-flex justify-content-between align-items-center">
                  <div class="btn-group">
                    <button type="button" class="btn btn-sm btn-outline-secondary">View</button>
                    <button type="button" class="btn btn-sm btn-outline-secondary">Edit</button>
                  </div>
                  <small class="text-muted">9 mins</small>
                </div>
              </div>
            </div>
          </div>
          <div class="list-item">
            <div class="card mb-3 box-shadow">
              <img class="card-img-top"
                style="height: 225px; width: 100%; display: block;"
               >
              <div class="card-body">
                <p class="card-text">This is a wider card with supporting text below as a natural lead-in to additional
                  content. This content is a little bit longer.</p>
                <div class="d-flex justify-content-between align-items-center">
                  <div class="btn-group">
                    <button type="button" class="btn btn-sm btn-outline-secondary">View</button>
                    <button type="button" class="btn btn-sm btn-outline-secondary">Edit</button>
                  </div>
                  <small class="text-muted">9 mins</small>
                </div>
              </div>
            </div>
          </div>
          <div class="list-item">
            <div class="card mb-3 box-shadow">
              <img class="card-img-top"
                style="height: 225px; width: 100%; display: block;"
               >
              <div class="card-body">
                <p class="card-text">This is a wider card with supporting text below as a natural lead-in to additional
                  content. This content is a little bit longer.</p>
                <div class="d-flex justify-content-between align-items-center">
                  <div class="btn-group">
                    <button type="button" class="btn btn-sm btn-outline-secondary">View</button>
                    <button type="button" class="btn btn-sm btn-outline-secondary">Edit</button>
                  </div>
                  <small class="text-muted">9 mins</small>
                </div>
              </div>
            </div>
          </div>
          <div class="list-item">
            <div class="card mb-3 box-shadow">
              <img class="card-img-top"
                style="height: 225px; width: 100%; display: block;"
               >
              <div class="card-body">
                <p class="card-text">This is a wider card with supporting text below as a natural lead-in to additional
                  content. This content is a little bit longer.</p>
                <div class="d-flex justify-content-between align-items-center">
                  <div class="btn-group">
                    <button type="button" class="btn btn-sm btn-outline-secondary">View</button>
                    <button type="button" class="btn btn-sm btn-outline-secondary">Edit</button>
                  </div>
                  <small class="text-muted">9 mins</small>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </article>
  </div>

  <footer>
    footer
  </footer>
</div> -->




<!-- PROGRESS BAR -->
<progress-bar></progress-bar>
<!-- PROGRESS BAR -->


<ng-container>
  <app-layout></app-layout>
</ng-container>
