article {
  background-color: rgb(249 249 249);
}
#header {
  position: fixed;
  background: red;
  z-index: 1000;
  width: 100%;
  margin-top: -37px;
}
#main {
  margin-top: 37px;
}
#body-content {
  width: 100%;
  margin: 0 auto;
  #contents {
    width: 95%;
    margin-top: 24px;
    display: flex;
    flex-wrap: wrap;
    justify-content: flex-start;
    margin: 0 auto;

    @media (min-width: 1816px) {
      .list-item {
        margin: 0 20px;
        width: 23%;
      }
      .list-item:nth-child(4n + 1) {
        background: red;
        margin-left: 0;
      }
      .list-item:nth-child(4n + 4) {
        background: blue;
        margin-right: 0;
      }
    }
    @media (min-width: 1807px) and (max-width: 1815.98px) {
      .list-item {
        margin: 0 20px;
        width: 22.99%;
      }
      .list-item:nth-child(4n + 1) {
        background: red;
        margin-left: 0;
      }
      .list-item:nth-child(4n + 4) {
        background: blue;
        margin-right: 0;
      }
    }
    @media (min-width: 1721px) and (max-width: 1806.98px) {
      .list-item {
        margin: 0 20px;
        width: 22.89%;
      }
      .list-item:nth-child(4n + 1) {
        background: red;
        margin-left: 0;
      }
      .list-item:nth-child(4n + 4) {
        background: blue;
        margin-right: 0;
      }
    }
    @media (min-width: 1513px) and (max-width: 1720.98px) {
      .list-item {
        margin: 0 20px;
        width: 22.6%;
      }
      .list-item:nth-child(4n + 1) {
        background: red;
        margin-left: 0;
      }
      .list-item:nth-child(4n + 4) {
        background: blue;
        margin-right: 0;
      }
    }

    //  -------------------------------------
    @media (min-width: 1463px) and (max-width: 1514.98px) {
      .list-item {
        margin: 0 20px;
        width: 30%;
      }
      .list-item:nth-child(3n + 1) {
        background: red;
        margin-left: 0;
      }
      .list-item:nth-child(3n + 3) {
        background: blue;
        margin-right: 0;
      }
    }

    @media (min-width: 1363px) and (max-width: 1462.98px) {
      .list-item {
        margin: 0 20px;
        width: 30%;
      }
      .list-item:nth-child(3n + 1) {
        background: red;
        margin-left: 0;
      }
      .list-item:nth-child(3n + 3) {
        background: blue;
        margin-right: 0;
      }
    }

    @media (min-width: 882px) and (max-width: 1362.98px) {
      .list-item {
        margin: 0 20px;
        width: 47%;
      }
      .list-item:nth-child(2n + 1) {
        background: red;
        margin-left: 0;
      }
      .list-item:nth-child(2n + 2) {
        background: blue;
        margin-right: 0;
      }
    }

    @media (min-width: 655px) and (max-width: 881.98px) {
      .list-item {
        margin: 0 20px;
        width: 45%;
      }
      .list-item:nth-child(2n + 1) {
        background: red;
        margin-left: 0;
      }
      .list-item:nth-child(2n + 2) {
        background: blue;
        margin-right: 0;
      }
    }


  }
}


.example-spacer {
  flex: 1 1 auto;
}
